<div class="container" style="background-color: #e2d4cb;">
  <div class='row'>
    <div class='col-3 mx-0' style="background-color: #eee6e2;" >
      <%= render 'posts/search', url: user_path %>
    </div>

    <div class='col-9'>
      <div>
        <h3><%= @user.name %></h3>
      </div>

      <div>
        <%= render 'posts/index', posts: @posts %>
      </div>
    </div>
  </div>
</div>