<div class='containar'>
  <div class='row'>
    <div class='col-3' style="background-color: #e2d4ce;" >
      <%= render 'search', url: posts_path %>
    </div>

    <div class='col-9'>
      <%= render 'index', posts: @posts %>
    </div>
  </div>
</div>

