<div class="container d-flex justify-content-center" style="background-color: #e2d4cb;">
  <div class='row'>
    <div class='col-3' style="background-color: #eee6e2;" >
      <%= render 'search', url: posts_path %>
    </div>

    <div class='col-9'>
      <%= render 'index', posts: @posts %>
    </div>
  </div>
</div>

